[submodule "clash-foss"]
	path = core/src/foss/golang/clash
	url = https://github.com/vernesong/mihomo
	branch = Alpha
[submodule "core/src/foss/golang/clash/"]
	url = https://github.com/vernesong/mihomo
